[package]
name = "faithful-number"
version = "0.1.0"
edition = "2024"

[dependencies]
rust_decimal = "1"
num-traits = "0.2.19"
num-rational = "0.4"
bigdecimal = "0.4"
rug = { version = "1.28.0", optional = true }

[features]
high_precision = ["rug"]
